<section class="container section-padding first">

  <h1 class="h1">Find Repositories</h1>
</section>


<section class="container section-padding ">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="input-group form-shadow  mb-3">

      <input type="text" class="form-control" placeholder="Enter Keyword" ngModel name="keyword">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"  type="submit">Search</button>
      </div>

    </div>
  </form>
</section>
